services:
  frontend-server:
    env_file:
      - .env
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - LOCAL_PORT=${FRONTEND_LOCAL_PORT}
    ports:
      - "${FRONTEND_LOCAL_PORT}:${FRONTEND_SERVER_PORT}"
    depends_on:
      backend-server:
        condition: service_healthy

  backend-server:
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
      SERVER_PORT: ${SERVER_PORT}
      SERVER_HOST: ${SERVER_HOST}
    build:
      context: ./backend
      dockerfile: server.Dockerfile
      args:
        - LOCAL_PORT=${LOCAL_PORT}
    ports:
      - "${LOCAL_PORT}:${SERVER_PORT}"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://${SERVER_HOST}:${SERVER_PORT}/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
  
  finviz-scraper:
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
    build:
      context: ./backend
      dockerfile: finviz-scraper.Dockerfile
  
  redis:
    image: redis:8-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
  postgres:
    env_file:
      - .env
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - /var/lib/postgresql/data
      - ./backend/src/db/init.sql:/docker-entrypoint-initdb.d/init.sql:z #Update SELinux context to fix permissions
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
