services:
  frontend-server:
    env_file:
      - .env
    build:
      context: ./frontend
      dockerfile: Dockerfile
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - node_modules
    #        - action: rebuild
    #          path: ./frontend/package.json
    #        - action: rebuild
    #          path: ./frontend/package-lock.json
    ports:
      - "${HOST_PORT}:5379"
    depends_on:
      backend-server:
        condition: service_healthy

  backend-server:
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      REDIS_URL: redis://redis:6379
    build:
      context: ./backend
      dockerfile: server.Dockerfile
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          ignore:
            - node_modules
    ports:
      - "${HOST_API_PORT}:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://0.0.0.0:8080/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  scraper:
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      REDIS_URL: redis://redis:6379
    build:
      context: ./backend/src/services/scraping
      dockerfile: scraper.Dockerfile
    develop:
      watch:
        - action: sync
          path: ./backend/src/services/scraping
          target: /app
          ignore:
            - node_modules
    depends_on:
      postgres:
        condition: service_healthy
      backend-server:
        condition: service_healthy

  redis:
    image: redis:8-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
  postgres:
    env_file:
      - .env
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/src/db/init.sql:/docker-entrypoint-initdb.d/init.sql:z # :'ro' gives read-only permissions.
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  marketdata:
    env_file:
      - .env
    build:
      context: ./backend/src/services/python-marketdata
      dockerfile: marketdata.Dockerfile
    develop:
      watch:
        - action: sync
          path: ./backend/src/services/python-marketdata
          target: /app
          ignore: venv
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  postgres_data:
