.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

img {
    width: 50px;
    height: 50px;
    
}

.nav {
    display: flex;
    gap: 5px;
}
