
/* DEFAULT THEME (DARK) */
:root {

    /* Colors */
    --color-background-primary: #000000;
    --color-background-secondary: #2e2d52;
    --color-border-primary: #2d5252;

    --color-text-primary: #eef2f6;
    --color-text-secondary: #b9cbdf;

    --color-border: #52402d;
    --color-shadow: rgba(0, 0, 0, 0.1);
    
    /* Fonts */

    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;

}


/* GLOBAL STYLING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
}
